{% extends "socialaccount/base.html" %}

{% load i18n widget_tweaks %}

{% block content %}
    <div class="uk-container uk-margin uk-flex uk-flex-column uk-width-1-2">
	<h1>{% trans "Sign Up" %}</h1>
	<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
	<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
	    {% csrf_token %}
	    {% for error in form.non_field_errors %}
	    	<p class="uk-text-danger">{{ error }} </p>
	    {% endfor %}

	    {% for field in form %}
	    <div class="uk-margin">
		{% for error in field.errors %}
	    	    <p class="uk-text-danger">{{ error }} </p>
		{% endfor %}
		<label for="{{ field.id_for_label }}" class="uk-form-label"> {{ field.label }} </label>
		<div class="uk-form_controls"> {{ field|add_class:"uk-input" }} </div>
	    </div>
	    {% endfor %}
	    {% if redirect_field_value %}
	    	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	    {% endif %}
	    <button class="uk-button uk-button-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
	</form>
    </div>

{% endblock %}
