{% extends "base.html" %}

{% load i18n widget_tweaks %}
{% load account socialaccount %}

{% block content %}
    <div class="uk-container uk-margin uk-flex uk-flex-column uk-flex-center uk-width-1-1">

	<div class="uk-margin-top uk-width-large uk-margin-auto uk-card uk-card-default uk-box-shadow-large">
		<h3 class="uk-margin-top uk-card-title uk-text-normal uk-text-center"> 
			{% trans "Connectez-vous à votre compte" %} 
		</h3>
	<form class="uk-margin-small uk-card-body" method="post" novalidate>
	    {% csrf_token %}
	    {% for error in form.non_field_errors %}
	    	<p class="uk-text-danger">{{ error }} </p>
	    {% endfor %}

	    {% for field in form %}
			<div class="uk-margin-small">
				<div class="uk-inline uk-width-1-1">
					{#<label for="{{ field.id_for_label }}" class="uk-form-label"> {{ field.label }} </label>#}
					{#<span class="uk-form-icon" uk-icon="icon: mail"></span>#}
					{{ field|add_class:"uk-input uk-form-large"|add_error_class:"uk-form-danger" }}
				</div>
					{% for error in field.errors %}
						<p class="uk-text-danger">{{ error }} </p>
					{% endfor %}
			</div>
	    {% endfor %}

	    <div class="uk-margin uk-text-right@s uk-text-center uk-text-small">
			<a class="" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
		</div>
	    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit">
	       	{% trans "Connection" %} 
	    </button>
		<hr>
		<a class="uk-button uk-button-danger uk-button-large uk-width-1-1" 
		   href="{% provider_login_url 'google' %}" uk-icon="icon: google; ratio:2">
			{% trans "Se connecter avec google" %} 
		</a>
	</form>
	</div>
    </div>
{% endblock %}
