{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
    <div class="uk-container uk-margin uk-flex uk-flex-column uk-flex center uk-width-1-2">
	<h1>{% trans "Sign Out" %}</h1>

	<p>{% trans 'Are you sure you want to sign out?' %}</p>

	<form method="post" action="{% url 'account_logout' %}">
	    {% csrf_token %}
	    {% if redirect_field_value %}
	    	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
	    {% endif %}
	    <button class="uk-button uk-button-primary" type="submit">{% trans 'Sign Out' %}</button>
	</form>
    </div>

{% endblock %}
