{% extends "account/base.html" %}

{% load i18n widget_tweaks %}
{% load account %}


{% block content %}
    <div class="uk-container uk-margin uk-flex uk-flex-column uk-flex-center">
	<h1>{% trans "Password Reset" %}</h1>
	{% if user.is_authenticated %}
	    {% include "account/snippets/already_logged_in.html" %}
	{% endif %}
	
	<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
	
	<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
	    {% csrf_token %}
	    {% for field in form %}
	    	<div class="uk-margin uk-width-1-2">
		    {% for error in field.errors %}
		    	<p class="uk-text-danger">{{ error }} </p>
		    {% endfor %}
		    <label for="{{ field.id_for_label }}" class="uk-form-label"> {{ field.label }} </label>
		    <div class="uk-form_controls"> {{ field|add_class:"uk-input" }} </div>
		</div>
	    {% endfor %}
	    <input class="uk-button uk-button-primary" type="submit" value="{% trans 'Reset My Password' %}" />
	</form>
	
	<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}
