{% extends "account/base.html" %}

{% load i18n widget_tweaks %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="uk-container uk-margin">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
	    	{% for field in form %}
		    <div class="uk-margin uk-width-1-2">
			{% for error in field.errors %}
			    <p class="uk-text-danger">{{ error }} </p>
			{% endfor %}
		        <label for="{{ field.id_for_label }}" class="uk-form-label"> {{ field.label }} </label>
			<div class="uk-form_controls"> {{ field|add_class:"uk-input" }} </div>
		    </div>
		{% endfor %}
                <input class="uk-button uk-button-primary" type="submit" name="action" 
			value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
