psycopg>=3.0,<3.1
wagtail>=2.15,<2.16
python-dotenv==0.19.2
django-widget-tweaks==1.4.9
django-allauth==0.47.0
django-colorfield==0.5.0
wagtail-modelchooser==2.13.1
django-anymail==8.4.0
WeasyPrint==53.4
