{% load i18n static wagtailcore_tags  wagtailimages_tags %}

<div id="cart-offcanvas" uk-offcanvas="overlay: true; flip: true">
  <aside class="uk-offcanvas-bar uk-padding-remove">
      <div class="uk-card uk-card-default uk-card-small uk-height-1-1 uk-flex uk-flex-column tm-shadow-remove">
          <header class="uk-card-header uk-flex uk-flex-middle">
              <div class="uk-grid-small uk-flex-1" uk-grid>
                  <div class="uk-width-expand">
			  <div class="uk-h3">{% trans 'Panier' %}</div>
                  </div>
                  <button class="uk-offcanvas-close" type="button" uk-close></button>
              </div>
          </header>
          <div class="uk-card-body uk-overflow-auto">
            <ul id="listItems" class="uk-list uk-list-divider">
		{% if request.user.is_authenticated %}
		  {% if cart.0.items.all %}
		  {% for item in cart.0.items.all %}
		  {% image item.product.first_image.product_image fill-200x150 as img %}
		  <li data-id= "{{ item.product.pk }}" class="item uk-visible-toggle">
        	        <article >
                	     <div  class="uk-grid-small" uk-grid>

				<div class="uk-width-1-4">
				   <div class="tm-ratio tm-ratio-4-3">
				     <a class="tm-media-box" href="#">
					<figure class="tm-media-box-wrap">
					    <img data-src="{%if img.url %}{{ img.url }}{%else%}{% static 'img/images.png' %}{% endif %}" alt="{{ img.alt }}" uk-img>
					</figure>
				    </a>   
				   </div>   
				</div>     
   
				<div class="uk-width-expand">   
					<a class="uk-link-heading uk-text-small" href="{% url 'product_detail' item.product.slug %}">
						{{ item.product.title }}
					</a>
				 <div class="uk-margin-xsmall uk-grid-small uk-flex-middle" uk-grid>
					 <div class="uk-text-bolder uk-text-small">{{ item.product.price }}</div>
					<div class="uk-text-meta uk-text-xsmall">
					  <span>
						<span data-id= "{{ item.product.pk }}" class='total'>
							  {{ item.quantity }}
						</span>X{{item.product.price}}
					  </span>
					</div>
				 </div>   
				</div>     
		
				<div>      
					<button data-id = "{{ item.product.pk }}" onclick="remove(this)" 
				      class="delete_from_cart  uk-icon-link uk-text-danger uk-invisible-hover" 
					uk-icon="icon: close; ratio: .75"
				   uk-tooltip="{% trans 'supprimer' %}"></button>
				</div> 
			       </div> 
			</article>
			</li>
	 	      	  {% endfor %}
			  {%else%}
			  <p class="uk-text-large " id="no-product" style="">{% trans 'pas de produit' %}</p>
	   		 {% endif %}
			
			{% endif %}
		    </ul>
		  </div>
		  <footer class="uk-card-footer">
		    <div class="uk-grid-small" uk-grid>
			    <div class="uk-width-expand uk-text-muted uk-h4">{% trans 'Total'%}</div>
			    <div class="uk-h4 uk-text-bolder"><span id="totalPrice">{% if cart.0 %}{{cart.0.total_price}}{% endif %}</span>DH</div>
		    </div>
		    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-margin-small" uk-grid>
			    <div>
					<a class="uk-button uk-button-default uk-margin-small uk-width-1-1" href="/cart">
						{% trans 'MON PANIER' %}
					</a>
				</div>
			    <div>
					<a class="uk-button badge uk-button-primary uk-margin-small uk-width-1-1" href="{% url 'checkout:pre_checkout' %}">
						{% trans 'COMMANDER' %}
					</a>
				</div>
		    </div>
		</footer>
	   </div>
     </aside>
</div>
