{% load static wagtailcore_tags wagtailuserbar  footer_tags %}

{% get_footer "NosServices" as services %}
{% get_footer "SAJA COSMETICS" as saja %}
{% get_footer "MagazineInfo" as info %}
<section class=" footer uk-width-1-1 uk-padding-remove-bottom uk-section uk-section-secondary uk-section-small uk-light">
 <div class="uk-container">
  <div class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-4@m" uk-grid>
   <div>
    <a class="uk-logo" href="/"><img src="{% static 'img/saja.png' %}" width="90" height="32"></a>
    <p class="uk-text-small">est un grossiste proposant une grande
  	 variété d'articles de luxe.
   	 Nous sommes un fournisseur 
	 fiable de produits de beauté</p>
    <ul class="uk-iconnav">
	{% if settings.tools.MediasSociauxParametre.facebook %}
	<li>
		<a href="{{settings.tools.MediasSociauxParametre.facebook}}" title="facebook"><span uk-icon="facebook"></span></a>
	</li>
        {% endif %}
	{% if settings.tools.MediasSociauxParametre.instagram %}
	<li>
	 <a href="{{settings.tools.MediasSociauxParametre.instagram}}" title="instagram"><span uk-icon="instagram"></span></a>
	</li>
        {% endif %}
	{% if settings.tools.MediasSociauxParametre.youtube %}
	<li>
	 <a href="{{settings.tools.MediasSociauxParametre.youtube}}" title="youtube"><span uk-icon="youtube"></span></a>
	</li>
        {% endif %}
    </ul>
   </div>
   <div>
     <nav class="uk-grid-small uk-child-width-1-2" uk-grid >
	<div>
		Nos Services 
	 <ul class="uk-nav uk-nav-default">
	  {% for item in services.footer_items.all %}
	  <li><a href="{{ item.link}}">{{ item.title }}</a></li>
	  {% endfor %}
	 </ul>
	</div>

     </nav>
   </div>
   <div>
   <nav class= uk-grid-small uk-child-width-1-2 uk-grid>
    <div>
	    SAJA COSMETICS
    <ul class="uk-list uk-text-small">
	 {% for item in saja.footer_items.all %}
	<li>
		<a class="uk-link-muted" href="{%if not item.link  %}# {% else %} {{ item.link }} {% endif %}">
	   {{ item.title }}
	  </a>
	</li>
	{% endfor %}
    </ul>
    </div>
   </nav>
   </div>
   <div>
    <nav class= uk-grid-small uk-child-width-1-2 uk-grid>
    <div>
	    MAGASINE
     <ul class="uk-list uk-text-small">
      <li>
	 <a class="uk-link-muted" href="#">
	   <span uk-icon="receiver"class="uk-margin-small-right"></span>
	   <span class=tm-pseudo">{{ info.footer_items.all.0.title }}</span>
	</a>
      </li>
      <li>
	 <a class="uk-link-muted" href="#">
	   <span uk-icon="location"class="uk-margin-small-right"></span>
	   <span class=tm-pseudo">{{ info.footer_items.all.1.title }}</span>
	</a>
      </li>
      <li>
	 <a class="uk-link-muted" href="#">
	   <span uk-icon="clock"class="uk-margin-small-right"></span>
	   <span class=tm-pseudo">{{ info.footer_items.all.2.title }}</span>
	</a>
      </li>     
      <li>
	 <a class="uk-link-muted" href="#">
	   <span uk-icon="mail"class="uk-margin-small-right"></span>
	   <span class=tm-pseudo">{{ info.footer_items.all.3.title }}</span>
	</a>
      </li>
     </ul>
   </div>
  </div>
 </div>
 <div ><p style="text-align:center;">Sajacosmetics &copy2020</p></div>
</section>

