{% load i18n wagtailcore_tags footer_tags menu_tags %}

{#{% get_menu "xpel" as xpelCat %}#}
{#{% get_menu "roqvel" as roqvelCat %}#}
{#{% get_menu "drammock" as drammockCat %}#}
{#{% get_menu "healthpoint" as healthpoitCat %}#}

{#{% get_footer "MagasineInfo" as info %}#}

<div id="nav-offcanvas" uk-offcanvas="overlay:true">
 <aside class="uk-offcanvas-bar uk-padding-remove">
  <div class="uk-card uk-card-default uk-card-small tm-shadow-remove">
   <header class="uk-card-header uk-flex uk-flex-middle">
     <div>
        <a class="uk-link-muted uk-text-bold" href="#">{{ info.footer_items.all.0.title }}</a>
	<div class="uk-text-xsmall uk-text-muted" style="margin-top: -2px;">
		{%if info%}
          <div>{{ info.footer_items.all.1.title }}</div>
          <div>{{ info.footer_items.all.2.title }}</div>
	        {%endif%}
	</div>
     </div>
   </header>
   <nav class="uk-card-small uk-card-body">
    <ul class="uk-nav-default uk-nav-parent-icon uk-list-divider" uk-nav >
     {% catalog_menu as catalog %}
     {% for brand in catalog%}
     <li class="uk-parent">
	     <a href="#" >{{ brand.title }}</a>
	 <ul class="uk-nav-sub uk-list-divider">
	 {% for pcat in brand.children%}
	   <li><a href="{{pcat.url}}" class="uk-text-left"><span>{{ pcat.title }}</span></a></li>
	 {% endfor %}
	 </ul>	
     </li>
     {% endfor %}
     <li><a href="about">{% trans 'A Propos' %}</a></li>
     <li><a href="contact">{% trans 'Contacts' %}</a></li>
    </ul>
   </nav>
   <nav class="uk-card-body">
    <ul class="uk-iconnav uk-flex-center">
	{% if settings.tools.MediasSociauxParametre.facebook %}
	<li>
		<a href="{{settings.tools.MediasSociauxParametre.facebook}}" title="facebook"><span uk-icon="facebook"></span></a>
	</li>
        {% endif %}
	{% if settings.tools.MediasSociauxParametre.instagram %}
	<li>
	 <a href="{{settings.tools.MediasSociauxParametre.instagram}}" title="instagram"><span uk-icon="instagram"></span></a>
	</li>
        {% endif %}
	{% if settings.tools.MediasSociauxParametre.youtube %}
	<li>
	 <a href="{{settings.tools.MediasSociauxParametre.youtube}}" title="youtube"><span uk-icon="youtube"></span></a>
	</li>
        {% endif %}
    </ul>

   </nav>
  </div>
 </aside>
</div>
