{% load i18n wagtailcore_tags footer_tags menu_tags %}

<div id="nav-offcanvas" uk-offcanvas="overlay:true">
 <aside class="uk-offcanvas-bar uk-padding-remove">
  <div class="uk-card uk-card-default uk-card-small tm-shadow-remove">
   <header class="uk-card-header uk-flex uk-flex-middle">
     <div>
		<p class='uk-text-small uk-text-bold '>Livraison Gratuite à Partir de 300DH</p>
     </div>
   </header>
   <nav class="uk-card-small uk-card-body">
    <ul class="uk-nav-default uk-nav-parent-icon uk-list-divider" uk-nav >
     {% for brand in catalog%}
     <li class="uk-parent">
	     <a href="#" >{{ brand.title }}</a>
	 <ul class="uk-nav-sub uk-list-divider">
	 {% for pcat in brand.children%}
	   <li><a href="{{pcat.url}}" class="uk-text-left"><span>{{ pcat.title }}</span></a></li>
	 {% endfor %}
	 </ul>	
     </li>
     {% endfor %}
    </ul>
   </nav>
   <nav class="uk-card-body">
    <ul class="uk-iconnav uk-flex-center">
	{% if settings.tools.MediasSociauxParametre.facebook %}
	<li>
		<a href="{{settings.tools.MediasSociauxParametre.facebook}}"  target="_blank" title="facebook"><span uk-icon="facebook"></span></a>
	</li>
        {% endif %}
	{% if settings.tools.MediasSociauxParametre.instagram %}
	<li>
	 <a href="{{settings.tools.MediasSociauxParametre.instagram}}"  target="_blank" title="instagram"><span uk-icon="instagram"></span></a>
	</li>
        {% endif %}
	{% if settings.tools.MediasSociauxParametre.youtube %}
	<li>
	 <a href="{{settings.tools.MediasSociauxParametre.youtube}}"  target="_blank" title="youtube"><span uk-icon="youtube"></span></a>
	</li>
        {% endif %}
    </ul>

   </nav>
  </div>
 </aside>
</div>
