{% load i18n wagtailcore_tags wagtailimages_tags %}

{% image product.pimages.0.product_image original as img %}
<article class="tm-product-card" tabindex="0">

    <div class="tm-product-card-media inline-clip uk-transition-tog">
	<div class="tm-ratio tm-ratio-4-3">
		<a class="tm-media-box" href="{% url 'product_detail' product.slug %}">
	     <figure class="tm-media-box-wrap">
			 <img data-src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" style="height: 100%"  alt="{{ img.alt }}&quot;" uk-img>
	     </figure>
	    </a>
	</div>
    </div>
    <div class="tm-product-card-body ">
	<div class="tm-product-card-info">
	    <h3 class="tm-product-card-title">
		    <a class="uk-link-heading" href="{% url 'product_detail' product.slug %}">
			{{ product.title }}
		    </a>
	    </h3>
	</div> 
	<div class="tm-product-card-shop">
	    <div class="tm-product-card-prices">
		{% if product.has_discount %}
		<del class="uk-text-meta">{{ product.base_price}}DH</del>
		{% endif %}
		<div class="tm-product-card-price">{{ product.price}}</div>
	    </div>
	    <div class="tm-product-card-add">
		<button class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart">
			<span class="tm-product-card-add-button-icon uk-icon" uk-icon="cart"></span>
			<span class="uk-text-small tm-product-card-add-button-text">{% trans 'Ajouter au panier' %} </span>
		</button>
	    </div>
	</div>
    </div>
    
</article>
