<div class="uk-navbar-container uk-light uk-visible@m tm-toolbar-container">
	<div class="uk-container " uk-navbar>
		<div class="uk-navbar-left">
			<nav>
				<ul class="uk-navbar-nav">
					<li>
						<a>
							<span uk-icon="icon:receiver; ratio: .75" class="uk-margin-xsmall-right"></span>
							<span class="tm-pseudo">+212 7 06 65 11 05</span>
						</a>
					</li>

					<li class='uk-position-center'>
						<p class="uk-text-leader uk-margin-large-left uk-margin-top">Livraison Gratuite à Partir de 300DH</p>
					</li>
				</ul>
			</nav>
		</div>
		<div class="uk-navbar-right">
			<nav>
				<ul class="uk-navbar-nav">
					<li>
						<a href='#'>Actualites</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>

