{% load i18n wagtailimages_tags %}

<div class="uk-margin uk-flex uk-flex-column">
<div uk-slider="center: false;min-height: 10; max-height: 100;autoplay:false;">
	<div style="overflow:hidden;height:14vh" class="uk-width-1-1 uk-position-relative uk-visible-toggle uk-dark" tabindex="-1">
		<ul style="height:inherit;" class="uk-slider-items  uk-child-width-1-4 uk-grid uk-grid-small">
			{% for v in variants %}
                {% image v.pimages.0.product_image original as img %}
				<li class="">
					<div>   
					<a  href="{% url 'product_detail' v.slug %}">
						 <img style="height:80px;width:inherit;" data-src="{{ img.url }}" alt="{{ img.alt }}" uk-img/>
					</a>
						     
					</div>
				</li>
			{% endfor %}
		</ul>
		<a class="uk-position-center-left uk-position-small uk-hidden-hover" 
			href="#" uk-slidenav-previous uk-slider-item="previous"></a>
		<a class="uk-position-center-right uk-position-small" 
			href="#" uk-slidenav-next uk-slider-item="next"></a>
	</div>
</div>
</div>
