.brandBack {
	background-image: linear-gradient(157deg, rgb(182, 180, 180) 31%,rgb(218, 214, 214) 70%, #f3f3f3 90%);
	background-color: rgb(197, 194, 194);
}

#badge, .badge{
	background-color:rgb(182, 180, 180)!important;
}

