#products {                    
        box-shadow: 5px 8px 16px 2px #F9D02F;
} 

#badge, .badge{
        background-color: #F9D02F!important;
}     
.badgeT {
        color: #F9D02F;        
} 
.catBorder {
	border-bottom: 8px solid #F9D02F;
}     
 .modal-button {
	background-color:  #F9D02F!important;
}          
.ys-product-card-add-button {
	color: black!important;
}
