{% extends "base.html" %}
{% load static wagtailcore_tags i18n %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
	<div class="uk-container uk-margin">	
		<h1 class="uk-text-center"> {% trans "Recherche" %} </h1>

		<div class="uk-flex uk-flex-center">
		<form class="uk-search uk-search-default uk-width-2-3" action="{% url 'search' %}" method="get">
			<input type="search" class="uk-search-input" 
					name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
			<button type="submit" class="uk-search-icon-flip" uk-search-icon></button>
		</form>
		</div>

		{% if search_results %}
			<div class="uk-margin uk-text-lead uk-flex-center">
						{{ results_count }} {% trans "résultats de recherche trouvés" %}
			</div>
				<div class="uk-grid-small uk-child-width-1-3" uk-grid>
					{% for result in search_results %}
						{% include "partials/product_card.html" with product=result %}
					{% endfor %}
				</div>

			<ul class="uk-margin uk-pagination uk-flex-center">
				{% if search_results.has_previous %}
				<li>
					<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">
							 <span class="uk-margin-small-right" uk-pagination-previous></span>
							 {% trans "Précédente" %}
					</a>
				</li>
				{% endif %}

				{% if search_results.has_next %}
					<li>
						<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">
								 {% trans "Suivant" %}
								 <span class="uk-margin-small-left" uk-pagination-next></span>
						</a>
				{% endif %}
			</ul>
		{% elif search_query %}
			<div class="uk-margin"> {% trans "Aucun résultat trouvé" %} </div>
		{% endif %}
	</div>
{% endblock %}
