{% load static wagtailuserbar menu_tags %}

<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="SAJA cosmetics une société de promotion de nombreu produits dermo 
	cosmétique pour que tout le monde ait accès à une beauté naturelle et saine. 
	Aussi" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<link rel="icon" type="image/png" href="{% static 'img/saja.png'%}" />
        {# Global stylesheets #}
	{% if  request.get_full_path|split == "xpel" %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/xpel.css' %}">
	{% endif %}
	{% if  request.get_full_path|split == "drammock" %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/drammock.css' %}">
	{% endif %}
	{% if  request.get_full_path|split == "roqvel" %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/roqvel.css' %}">
	{% endif %}
	{% if  request.get_full_path|split == "healthpoint" %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/healthpoint.css' %}">
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
	<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500">  	
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
	    {% catalog_menu as catalog %}
        {% if request.get_full_path|split != ""%}
        {% include 'partials/navbar_next.html' with catalog=catalog  %}
        {% endif %}
	
	{% block content %}{% endblock %}
	{% include 'partials/footer.html' %}
	{% include 'partials/nav-offcanvas.html' with catalog=catalog %}
	{% include 'partials/cart-offcanvas.html' %}
        {# Global javascript #}
		<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/js/uikit.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/js/uikit-icons.min.js"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
