

<div class="uk-navbar-container uk-light uk-visible@m tm-toolbar-container">
	<div class="uk-container " uk-navbar>
		<div class="uk-navbar-left">
			<nav>
				<ul class="uk-navbar-nav">
					<li>
						<a href="#" onclick="return false">
							<span uk-icon="icon:receiver; ratio: .75" class="uk-margin-xsmall-right"></span>
							<span class="tm-pseudo">06 26 35 53 45</span>
						</a>
					</li>
					<li>
						<a href="contacts.html" onclick="return flase">
							<span uk-icon="icon:location; ratio: .75" class="uk-margin-xsmall-right"></span>
							<span class="tm-pseudo">Store in meknes</span>
							<span uk-icon="icon:triangle-down; ratio: .75"></span>
						</a>
						<div class="uk-margin-remove" uk-drop="mode:click; pos:bottom-center;">
							<div class="uk-card
								uk-card-default 
								uk-card-small
								uk-box-shadow-xlarge
								uk-overflow-hidden 
								uk-padding-small
								uk-padding-remove-horizontal 
								uk-padding-remove-bottom">
								<figure class="uk-card-media-top uk-height-small js-map">
									<iframe width="300" height="160" id="gmap_canvas" 
										src="https://maps.google.com/maps?q=meknes%20%20hemria&amp;t=&amp;
										z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0"
										scrolling="no" marginheight="0" marginwidth="0"></iframe>
								</figure>
								<div class="uk-card-body ">
									<div class="uk-text-small">
										<div class="uk-text-bolder">SAJA</div>
										<div> hemria grande gare N:29</div>
										<div> Daily 07:30 to 19:00</div>
									</div>
									<div class="uk-margin-small">
										<a href="contact.html" class="uk-link-muted
											uk-text-uppercase
											tm-link-to-all
											uk-link-reset" >
											<span>contacts</span>
											<span uk-icon="icon:chevron-right; ratio:.75"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="uk-navbar-item">
							<span uk-icon="icon:clock; ratio: .75" class="uk-margin-xsmall-right"></span>
							<p> 07:30 to 19:00</p>
						</div>
					</li>
				</ul>
			</nav>
		</div>
		<div class="uk-navbar-right">
			<nav>
				<ul class="uk-navbar-nav">
					<li>
						<a href='#'>News</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>




