{% load i18n %}
{% comment %}
	<style>
	#ys {
	  margin-top:50px;
	  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	#ys td, #ys th {
		border: 1px solid #ddd;
		padding: 8px;
	}
	#ys tr:nth-child(even){background-color: #f2f2f2;}
	#ys tr:hover {background-color: #ddd;}
	#ys th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #4CAF50;
		color: white;
	}
	</style>
	{% endcomment %}
		<div>
			<div style="display:flex; flex-direction:row;justify-content:space-between;">
			<div style="display:inline-block">
				SAJA cosmetics SARL <br>
				AU BMO BP N:6423 <br>
				MEKNES MAROC <br>
			</div>
			<div style="width: fit-content;right: 0;margin-right: 10px;">
				<p style="font-size:1.3em;text-align:right;margin-bottom:5px;"> {{ order.payment_date|date:"d M Y" }} </p>
				<p style="text-align:right;margin-top:5px"> {% trans "Facture #" %}{{ order.pk }} </p>
			</div>
			</div>
			<table style="margin-top:50px;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;">
				<thead>
					<tr>
						<th style="padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #4CAF50;color: white;">
							{% trans "code de produit" %}
						</th>
						<th style="padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #4CAF50;color    : white;">
							{% trans "titre de produit" %} 
						</th>
						<th style="padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #4CAF50;color    : white;">
							{% trans "quantite" %}
						</th>
						<th style="padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #4CAF50;color    : white;">
							{% trans "total" %}
						</th>
					</tr>
				</thead>
				<tbody>
					{% for item in order.items.all %}
						<tr>
							<td style="border: 1px solid #ddd;padding: 8px;"> {{ item.ref }} </td>
							<td style="border: 1px solid #ddd;padding: 8px;"> {{ item.product.display_title }} </td>
							<td style="border: 1px solid #ddd;padding: 8px;"> {{ item.quantity }} </td>
							<td style="border: 1px solid #ddd;padding: 8px;"> {{ item.total_price }} DH </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div style="margin:10px">
				<div style="font-size:1.5em;text-align:right"> {% trans "Total: " %}{{ order.total_price }} DH </div>
				<div> {% trans "Merci pour votre achat!" %} </div>
			</div>
		</div>
