{% load i18n %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.4.6/css/uikit.min.css" integrity="sha256-NrXXCv7bVx/3rjuSMahH9Zw6T79FMW2zIOaZGEuJ1Lg=" crossorigin="anonymous" />
		<title></title>
	</head>
	<body>
		<div class="uk-container">
			<div class="uk-align-left">
				SAJA cosmetics SARL 
				AU BMO BP N:6423
				MEKNES MAROC
			</div>
			<div class="uk-align-right">
				<p class="uk-text-lead uk-text-bold uk-margin-remove-bottom"> {{ order.payment_date|date:"d M Y" }} </p>
				<p class="uk-text-lead uk-margin-remove-top"> {% trans "Facture #" %}{{ order.pk }} </p>
			</div>
			<table class="uk-table uk-table-small uk-table-divider">
				<thead>
					<tr>
						<th> {% trans "code de produit" %} </th>
						<th> {% trans "titre de produit" %} </th>
						<th> {% trans "quantite" %} </th>
						<th> {% trans "total" %} </th>
					</tr>
				</thead>
				<tbody>
					{% for item in order.items.all %}
						<tr>
							<td> {{ item.ref }} </td>
							<td> {{ item.product.display_title }} </td>
							<td> {{ item.quantity }} </td>
							<td> {{ item.total_price }} DH </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="uk-align-right uk-text-lead">
				{% trans "Total: " %}{{ order.total_price }}
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.4.6/js/uikit.min.js" integrity="sha256-zCB4dy+o6i0ndqM7p9QuCM9nBSzWa28Y3L01xgTWhBc=" crossorigin="anonymous"></script>
	</body>
</html>
