{% extends "base.html" %}

{% load i18n %}

{% block content %}
	<div class="uk-container uk-margin">
		<div class="uk-text-success uk-text-lead uk-margin-large uk-text-center">
		<span uk-icon="icon: check; ratio: 3"></span>
	  <div class="">
		  {% trans "paiement réussi" %}
	  </div>
		</div>
	  {% include "partials/order_detail.html" with order=order %}
	  <div class="uk-margin">
		  <a class="uk-button uk-button-primary" href="/"> {% trans "Retour au magasin" %} </a>
	  </div>
	</div>
{% endblock %}

