{% extends "base.html" %}

{% load i18n %}

{% block content %}
	<div class="uk-container uk-margin">
	  <div class="uk-text-center uk-text-lead uk-margin-large">
		  {% trans "vérifier que tout est correct" %}
	  </div>
	  <div class="uk-align-left">
	  <div>
		  {{ request.user }} <br>
		  {{ request.user.email }} <br>
		{{ request.user.address|linebreaks }} <br>
	  </div>
	  </div>
	  <table class="uk-table uk-table-small uk-table-divider">
	    <thead>
	      <tr>
			  <th> {% trans "Titre de produit" %} </th>
			  <th> {% trans "Quantite" %} </th>
			  <th> {% trans "Total" %} </th>
	      </tr>
	    </thead>
	    <tbody>
			{% for item in cart.0.items.all %}
				<tr>
					<td> {{ item.product.title }} </td>
					<td> {{ item.quantity }} </td>
					<td> {{ item.total_price }} DH </td>
				</tr>
			{% endfor %}
	    </tbody>
	  </table>
	  <div class="uk-align-right uk-text-lead"> Total: {{ cart.0.total_price }} DH </div>
	  <div class="uk-margin">
		  <a class="uk-button uk-button-default" href="{% url 'checkout:cart' %}"> {% trans "Retourner" %} </a>
		  <a class="uk-button uk-button-default" href="#modal-center" uk-toggle>
			  {% trans "Passer la commande" %} 
		  </a>
			<div id="modal-center" class="uk-flex-top" uk-modal>
				<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
					<button class="uk-modal-close-default" type="button" uk-close></button>
					<p> {% trans "le service n'est pas encore disponible" %} </p>
				</div>
			</div>
	  </div>
	</div>
{% endblock %}
