{% extends "base.html" %}

{% load i18n static %}

{% block content %}
	<div class="uk-container uk-margin">
	  <div class="uk-text-center uk-text-lead uk-margin-large">
		  {% trans "vérifier que tout est correct" %}
	  </div>
	  <div class="uk-align-left">
	  <div>
		  {{ request.user }} <br>
		  {{ request.user.email }} <br>
		{{ request.user.address|linebreaks }} <br>
	  </div>
	  </div>
	  <table class="uk-table uk-table-small uk-table-divider">
	    <thead>
	      <tr>
			  <th> {% trans "Titre de produit" %} </th>
			  <th> {% trans "Quantite" %} </th>
			  <th> {% trans "Total" %} </th>
	      </tr>
	    </thead>
	    <tbody>
			{% for item in cart.0.items.all %}
				<tr>
					<td> {{ item.product.title }} </td>
					<td> {{ item.quantity }} </td>
					<td> {{ item.total_price }} DH </td>
				</tr>
			{% endfor %}
	    </tbody>
	  </table>
	  <div class="uk-margin-bottom uk-align-right uk-text-lead"> Total: {{ cart.0.total_price }} DH </div>
	  <form method="GET" action="{% url 'checkout:pre_checkout' %}" >
	  <div>
		  <input class="uk-checkbox" id="check" type="checkbox" name="conditions" value="1">
		  <label for="check">{% trans "J'ai lu les "%} <a href="/terms/">CONDITIONS GENERALES DE VENTE</a></label>
	  </div>
	  <div class="uk-margin">
		  <a class="uk-button uk-button-default" href="{% url 'checkout:cart' %}"> {% trans "Retourner" %} </a>
		  <button type='submit' id="conditionsB" disabled class="uk-button uk-button-default">
			  {% trans "Passer la commande" %} 
		  </button>
		  <div class="uk-margin-small-top uk-grid-small uk-child-width-1-2" style='width:350px' uk-grid>
			  <div></div>
			<div >
			  <img src="{% static 'img/logo_cmi.png' %}" style="height:30px;width:40px;">
			  <img src="{% static 'img/secure_code_logo.png' %}" style="height:30px;width:50px;">
			  <img src="{% static 'img/tn_verified_by_visa.png' %}" style="height:30px;width:50px;">
			</div>
		  </div>

	  </div>
	  </form>
	</div>
{% endblock %}

