

{% load wagtailcore_tags i18n %}
<div style="" class="uk-child-width-1-2@m uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body"  uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
		<h3 class="uk-card-title">{{self.newsletter_title}}</h3>
		<p>{{ self.newsletter_text|richtext }}</p>
		<form id="my_form" method='POST' action='/' class="uk-form-stacked">
			{%csrf_token%}
			<p style='color:red'>{{ message }}</p>
			{{ form.as_p }}
			<a onclick="document.getElementById('my_form').submit();" class="uk-form-icon uk-form-icon-flip uk-icon"  uk-icon="mail"></a>
			{%comment%}		  <label>
			<div class="uk-form-label uk-text-muted">
				{% trans 'Abonnez-vous pour Nos actualités' %}
			</div>
			<div class="uk-inline uk-width-1-1">
				<a onclick="document.getElementById('my_form').submit();" class="uk-form-icon uk-form-icon-flip uk-icon"  uk-icon="mail"></a>
			   <input class="uk-input" type="email" name='email' placeholder="{% trans 'Votre email' %}" required="">
			</div>
			<p class="uk-form-label uk-text-meta uk-text-justify">
			{% trans "En cliquant, vous acceptez de recevoir nos newsletters conformément à notre politique de confidentialité. Vous pourrez vous désinscrire à tout moment depuis votre compte client ou en contactant notre service client" %} </p>
		  </label>
		  {%endcomment%}
		</form>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body" style="background-image:linear-gradient(595deg, rgb(160, 153, 153) 12%, rgb(226, 226, 226) 75%);color:white" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
		<h3 style="color:inherit" class="uk-card-title ">{{ self.media_title }}</h3>
		<p>{{self.media_text }}</p>
		<ul class="uk-iconnav">
		  {% if settings.tools.MediasSociauxParametre.facebook %}
		   <li>
		     <a href="{{settings.tools.MediasSociauxParametre.facebook}}" title="facebook"><span style="color:#0f6ecd" uk-icon="icon:facebook; ratio:2"></span></a>
		   </li>
		  {% endif %}
		  {% if settings.tools.MediasSociauxParametre.instagram %}
		   <li>
		     <a href="{{settings.tools.MediasSociauxParametre.instagram}}" title="instagram"><span style="color:black" uk-icon="icon:instagram;ratio:2"></span></a>
		   </li>
		  {% endif %}
		  {% if settings.tools.MediasSociauxParametre.youtube %}
		   <li>
		     <a href="{{settings.tools.MediasSociauxParametre.youtube}}" title="youtube"><span style="color:red" uk-icon="icon:youtube; ratio:2"></span></a>
		   </li>
	    	  {% endif %}
		</ul>
        </div>
    </div>
    </div>
