{% extends "base.html" %}
{% load i18n  static wagtailcore_tags wagtailimages_tags %}


{% block content%}
<div class="uk-grid-medium uk-child-width-1-1" uk-grid="uk-grid">
   <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
	   uk-slideshow="autoplay: true;autoplay-interval:5000;min-height: 200; max-height: 500; animation: fade" >

    <ul class="uk-slideshow-items" >
      {% for loop_cycle in self.carousel_images.all %}
	{% image loop_cycle.carousel_image fill-900x400 as img %}
	<li class="uk-width-1-1">
	   <img src="{{ img.url}}"  alt="{{ img.alt}}" class=""  uk-cover>
	</li>
      {% endfor %}
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    <div class="uk-position-bottom-center uk-position-small">
    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
    </div>
  </div>
</div>

<div class=" uk-margin-bottom" style="background:linear-gradient(190deg,#fff,#fff3e6);border-style: double ;border-width:8px;border-color:#fff3e6;">
	{% include './breadcrumb.html' %}
<div style="padding:10px">
   <div class="uk-text-capitalize uk-text-center">
	<p class="title">{{ self.group_title }}</p>
   </div>
   <div class="uk-child-width-1-4@m " uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 300;repeat: true">
	   
          {% for product in self.group_products.all %}
	    {% image product.group_product.first_image.product_image fill-400x200 as img %}
	   <div>
		<div class="uk-card tm-product-card ">
		    <div class=" tm-product-card-media">
			<div class="tm-ratio tm-ratio-4-3">
			   <a class="tm-media-box" href="{{ product.group_product.url }}">
			      <figure class="tm-media-box-wrap">
			           <img src="{{ img.url }}" style="height: 100%"  alt="{{ img.alt }}&quot;">
			      </figure>
		          </a>
		  	</div>
		    </div>
		    <div>
			<div class=" tm-product-card-body" style="height:16vh;">
			  <div class="tm-product-card-info" style="max-height:6vh">
			    <div class="uk-card-title uk-text-meta uk-margin-xsmall-bottom">{{ product.group_product.get_parent.title }}</div>
			    <h3 class="tm-product-card-title" style="margin:0;">
				    <a href="{{ product.group_product.url }}" class="uk-link-heading">
					    {{ product.group_product.title |slice:'35'}}
				    </a>
			    </h3>
			   </div>

			    <div class="tm-product-card-shop"  style="bottom: 2vh;position:absolute;width: 18vw;">
				    <div class="tm-product-card-prices">
					{% if product.group_product.has_discount %}
					<del class="uk-text-meta">{{ product.group_product.base_price}}DH</del>
					{% endif %}
					<div class="tm-product-card-price">{{ product.group_product.price}}</div>
				    </div>
				    <div class="tm-product-card-add">
					<div class="uk-text-meta tm-product-card-actions">
					    <a class="tm-product-card-action tm-action-button-active" title="Add to favorites">
						<span uk-icon="icon: heart; ratio: .75;" class="uk-icon"></span>
					    </a>
					</div>
					<a class="uk-button uk-button-primary tm-product-card-add-button tm-shine">
					    <span class="tm-product-card-add-button-icon uk-icon" uk-icon="cart"></span>
					</a>
				    </div>
				</div>

			</div>
		    </div>
		</div>
		</div>
           {% endfor %}
 		
   </div>
</div>
</div>
	<div class=" uk-width-1-1 uk-margin-bottom" uk-grid>
	   <div class= "uk-card uk-card-default uk-width-1-1 uk-card-small">
		 <header class= "uk-card-header">
		    <h2 class="uk-text-center">{% trans 'Categories' %}</h2>
		 </header>
		<div class= "uk-card-body uk-child-width-expand@s uk-grid-divider uk-child-width-1-4@m" uk-grid>
		{% if categories %}
		 {% for key, value in categories.items %}
		    <div style="">
			<h4 class="uk-link-muted"><a href="{{ key.url }}">{{ key.title }}</a></h4>
        		<ul class="uk-list " >
			 {% for subCat in value %}
			    <li class="uk-margin-remove"><a href="{{ subCat.url }}">{{ subCat.title }}</a></li>
			 {% endfor %}
        		</ul>
   		    </div>
		 {% endfor %}
	        {% endif %}
		</div>
	   </div>
	</div>

<div class="uk-margin-bottom uk-child-width-1-2@m uk-grid-match" uk-grid>
{% for block in self.body %}    
    {% include_block block%}   
{% endfor %}          
</div>
{% endblock content %}
