{% extends "base.html" %}
{% load i18n  static wagtailcore_tags wagtailimages_tags %}


{% block content%}
{% csrf_token %}
<div>
	<div class="brandBack">
		<div class="uk-grid-medium uk-child-width-1-1" uk-grid="uk-grid">
			<div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1"
				uk-slideshow="pause-on-hover:false;autoplay: true;autoplay-interval:3000;target: !.uk-slideshow-items;min-height: 500;max-height:600;animation: fade">
				<ul class="uk-slideshow-items">
					{% for loop_cycle in brand.cimages %}
					{% image loop_cycle.carousel_image original as img %}
					<li class="uk-width-1-1">
						<div class="uk-flex spinner uk-position-absolute" style="top:40vh;left:45vw;z-index:0;"
							uk-spinner="ratio: 2"></div>

						<img class="brand-slider-image" data-src="{{ img.url}}" alt="{{ img.alt}}"  uk-img uk-cover>
					</li>
					{% endfor %}
				</ul>
				<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
					uk-slideshow-item="previous"></a>
				<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
					uk-slideshow-item="next"></a>
				<div class="">
					<ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
				</div>
			</div>
		</div>
		<div class=" uk-margin-bottom" style="background:transparent;">
			{% include './breadcrumb.html' %}
			{% with 'img/'|add:self.title|add:'.png' as image_static %}
			<div class="uk-padding uk-padding-bottom-small">
				<img style="height:60px;width:200px;" class=" uk-position-relative uk-position-center"
					src="{% static image_static %}" img>
			</div>
			{% endwith %}
			<div class="subCat">
				<div class="subCa uk-flex uk-flex-left">
					{% if categories %}
					{% for sub in categories %}
					<div class="subCat-item" style="max-width:max-content">
						<a style="border:2px solid {{sub.color}};
							 box-shadow: 2px 1px 4px 1px {{sub.color}}; width:max-content!important" href="{% pageurl sub %}"
							class="subButton">{{sub.title}}</a>
					</div>
					{% endfor %}
					{% endif %}
				</div>
			</div>


			<div style="padding:10px">
				<div class="uk-text-capitalize uk-text-center">
					<p class="title">{{ brand.group_title }}</p>
				</div>
				<div id="sliderP" class="uk-container" uk-slider="autoplay-interval:4000;autoplay:true;cente:false;pause-on-hover: true">
					<div class="uk-position-relative uk-visible-toggle uk-drak" tabindex="-1">
						<ul class="uk-slider-items uk-child-width-1-4@m uk-grid">
							{% for product in brand.gproduct %}
							{% image product.group_product.first_image.product_image original as img %}

							<li class="uk-active">
								<div class="uk-card uk-card-default tm-product-card ">
									<div class=" tm-product-card-media uk-inline-clip uk-transition-tog" tabindex="0">
										<div class="tm-ratio tm-ratio-4-3 flip uk-transition-flip">
											<a class="tm-media-box" href="">
												<figure class="tm-media-box-wrap">
													<div class="uk-position-absolute uk-position-right badge-grid uk-child-width-1-1 uk-grid-small uk-grid" uk-grid >
									   {% for block in product.group_product.features %}
										{% if block.block_type == 'badges' %}
										 {% for bimg in block.value %}
										<div class="badge-grid-el">
											{% image bimg original as imgb %}
											<img style="height:100%;width:100%;" src="{{imgb.url}}">
										</div>
										 {% endfor %}
										
										{% endif %}
									    {% endfor %}

												</div>
	
													<img data-src="{{ img.url }}" alt="{{ img.alt }}&quot;" uk-img>
												</figure>
											</a>
										</div>
										<div class="uk-position-cover upper uk-overlay uk-overlay-default">
											<a class="tm-media-box"
												href="{% url 'product_detail' product.group_product.slug %}">
												<section class="feature">
													<div>
														<p class="uk-text-lead uk-text-center">
															{% trans 'Caractéristique' %}</p>
														<ul class="check-list">
															{% for feature in product.group_product.features%}
															{% if feature.block_type == 'features' %}
															{% include_block feature %}
															{% endif %}
															{% endfor %}
														</ul>
													</div>
												</section>
											</a>
										</div>
									</div>
									<div>
										<div class=" tm-product-card-body" style="height:16vh;">
											<div class="tm-product-card-info" style="max-height:6vh">
												<h3 class="tm-product-card-title" style="margin:0;">
													<a href="{% url 'product_detail' product.group_product.slug %}"
														class="uk-link-heading">
														{{ product.group_product.display_title |slice:'35'}}
													</a>
												</h3>
											</div>

											<div class="tm-product-shop"
												style="bottom: 2vh;position: relative;width: 17vw;bottom:0">
												<div class="tm-product-card-prices">
													{% if product.group_product.has_discount %}
													<del
														class="uk-text-meta">{{ product.group_product.base_price}}DH</del>
													{% endif %}
													<div class="tm-product-card-price">
														{{ product.group_product.price}}DH
													</div>
												</div>
												<div class="tm-product-card-add uk-postion-relative uk-postion-right">
													<a data-id="{{ product.group_product.pk}}"
														class="uk-button add_to_cart_badge badge uk-button-primary add_to_cart tm-product-card-add-button tm-shine">
														<span
															class="js-add-to-cart tm-product-card-add-button-icon  uk-icon"
															uk-icon="cart"></span>
													</a>
												</div>
											</div>

										</div>
									</div>
							</li>

							{% endfor %}
						</ul>
						<a style="color:black;"
							class="uk-position-center-left uk-position-small uk-slidnav-large uk-hidden-hover" href="#"
							uk-slidenav-previous uk-slider-item="previous">
						</a>
						<a style="color:black;"
							class="uk-position-center-right uk-position-small uk-slidnav-large uk-hidden-hover" href="#"
							uk-slidenav-next uk-slider-item="next">
						</a>
					</div>
					<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
				</div>
			</div>

		</div>
	</div>
	{% for block in self.body %}
	{% include_block block%}
	{% endfor %}
</div>
{% endblock content %}
