{% extends "base.html" %}

{% load static i18n  wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="brandBack">
<div class="uk-container  uk-margin">
   {% include './breadcrumb.html'%}
   <p class="uk-text-center">{{ itemsSum}} {% trans 'Produit' %}</p>
</div>

<div class="uk-container">
    
      <div class="uk-grid-medium uk-grid" uk-grid>
	{% if categories %}
	  {% include './navCategory.html' %}
	{% endif %}

       {% if products %}
	 {% include './products-grid.html' %}
       {% endif %}
      </div>
</div>
</div>
{% endblock %}
