{% extends "base.html" %}

{% load static i18n  wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="brandBack">
<div class="uk-container  uk-margin">
   {% include './breadcrumb.html'%}
   <p class="uk-text-center">{{ itemsSum}} {% trans 'Produit' %}</p>
</div>

<div class="uk-container">
	<div style="display:block;margin:3%;width:100vw;overflow:auto"  class="uk-flex uk-flex-center"> 
	  <div style="width:1200px" class="uk-flex uk-flex-center">
	  {% if categories %}
	    {% for sub in categories %}
	      <div style="display:inline;width:400px;margin:10px">
		      <a href="{% pageurl sub %}" class="subButton">{{sub.title}}</a>
	      </div>
	    {% endfor %}
	  {% endif %}
	  </div>
	</div>
      <div class="uk-grid-medium uk-grid" uk-grid>
       {% if products %}
	 {% include './products-grid.html' %}
       {% endif %}
      </div>
</div>
</div>
{% endblock %}
