{% extends "base.html" %}

{% load static i18n  wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="brandBack">
<div style="height:45vh;"class="uk-child-width-1-2  catBorder uk-visible@m" uk-grid>
	<div style="height:inherit;border-bottom:2px solid black;">
		<div class="uk-flex uk-flex-top-center uk-position-absolute"uk-spinner="ratio: 3" style="z-index:-100"></div>
		{% image page.image original as img%}
		<img style="height:inherit;width:100%" data-src="{{ img.url }}" alt="{{ img.alt }}" uk-img>
	</div>
	<div class="uk-flex uk-flex-middle ">
		<p class="uk-margin-right uk-text-justify">{{ page.description }}</p>	 
	</div>
  
</div>
<div class="uk-container">
	<div class="uk-position-absolute uk-position-top-right" id="breadcrumb">
   {% include './breadcrumb.html'%}
   </div>
   <h1 class="uk-margin-small-top uk-margin-remove-bottom uk-padding uk-text-center" style="color:{{color}}">{{ self.title| title }}</h1>
   <p class="uk-text-center">{{ itemsSum}} {% trans 'Produit' %}</p>
</div>

 <div class="subCat"> 
   <div style="" class="subCa uk-flex uk-flex-left">
  {% if categories %}             
   {% for sub in categories %}     
      <div class="subCat-item" style="max-width:max-content" >       
        <a style="border:2px solid {{sub.color}};
	 box-shadow: 2px 1px 4px 1px {{sub.color}}; width:max-content!important;" 
	 href="{% pageurl sub %}" class="subButton">{{sub.title}}</a>
      </div>           
   {% endfor %}     
  {% endif %}     
   </div>
 </div>

  <div class="uk-container">
      <div class="uk-grid-medium uk-grid" uk-grid>
       {% if products %}
	 {% include './products-grid.html' %}
       {% endif %}
      </div>
  </div>
</div>
{% endblock %}
