{% load wagtailcore_tags wagtailimages_tags %}

<div class="uk-width-expand">
  <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
<!--items-->
    <div>
	<div class="uk-card uk-card-default uk-card-small tm-ignore-container">
	    <div class="uk-grid-collapse uk-child-width-1-1" id="products" uk-grid="uk-grid">
		<!---settings-->
		<div class="uk-card-header">
		    <div class="uk-grid-small uk-flex-middle" uk-grid="uk-grid">
			<!--Sorting-->
			<div class="uk-width-1-1 uk-width-expand@s uk-flex uk-flex-center uk-flex-left@s uk-text-small">
			    <span class="uk-margin-small-right uk-text-muted">Trier par</span>
			    <ul class="uk-subnav uk-margin-remove">
				<li class="uk-active uk-padding-remove">
				    <a class="uk-text-lowercase" href="#">Pertinent
				    <span class="uk-margin-xsmall-left uk-icon" uk-icon="icon:chevron-down;ratio:.5;"></span>
				    </a>
				</li>
				<li><a class="uk-text-lowercase" href="#">prix</a></li>
				<li><a class="uk-text-lowercase" href="#">Le plus récent</a></li>
			    </ul>
			</div>
			<!-- Filters button & change view-->
			<div class="uk-width-1-1 uk-width-auto@s uk-flex uk-flex-center uk-flex-middle">
			    <!--//- Filters button-->
			    <button class="uk-button uk-button-default uk-button-small uk-hidden@m" uk-toggle="target: #filters">
				<span class="uk-margin-xsmall-right uk-icon uk-text-uppercase" uk-icon="icon: settings; ratio: .75;">filtters
			    </button>
			    <!-- //- Change view-->
			    <div class="tm-change-view uk-margin-small-left">
				<ul class="uk-subnav uk-iconnav js-change-view" uk-switcher="uk-switcher">
				    <li><a class="uk-active" data-view="grid" uk-icon="grid" uk-tooltip="Grid"></a></li>
				    <li><a data-view="list" uk-icon="list" uk-tooltip="List"></a></li>
				</ul>
			    </div>
			</div>
		    </div>
		</div>


		<!--ITEMS-->

		<div class="uk-grid-margin uk-first-column">
		    <div class="uk-grid-collapse uk-child-width-1-3 tm-products-grid js-products-grid" uk-grid="uk-grid">	
		     {% for product in products %}
			 {% image product.product_image fill-900x400 as img %}
			<article class="tm-product-card uk-first-column">
			    <div class="tm-product-card-media">
				<div class="tm-ratio tm-ratio-4-3">
					<a class="tm-media-box" href="{{ product.url }}">
				     <figure class="tm-media-box-wrap">
					     <img src="{{ img.url }}" style="height: 100%"  alt="{{ img.alt }}&quot;">
				     </figure>
				    </a>
				</div>
			    </div>
			    <div class="tm-product-card-body">
				<div class="tm-product-card-info">
					<div class="uk-text-meta uk-margin-xsmall-bottom">{{ product.title }}</div>
				    <h3 class="tm-product-card-title">
					<a class="uk-link-heading" href="product.html">
						{{ product.description |richtext }}</a>
				    </h3>
				</div>
			    
				<div class="tm-product-card-shop">
				    <div class="tm-product-card-prices">
					{% if product.has_discount %}
					<del class="uk-text-meta">{{ product.base_price}}DH</del>
					{% endif %}
					<div class="tm-product-card-price">{{ product.price}}</div>
				    </div>
				    <div class="tm-product-card-add">
					<div class="uk-text-meta tm-product-card-actions">
					    <a class="tm-product-card-action
						js-add-to js-add-to-favorites
						tm-action-button-active
						js-added-to" title="Add to favorites">
						<span uk-icon="icon: heart; ratio: .75;"
						class="uk-icon"></span>
						<span class=" tm-product-card-action-text">Ajouter à favoris</span>
					    </a>

					</div>
					<button class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart">
						<span class="tm-product-card-add-button-icon uk-icon" uk-icon="cart"></span>
						<span class="uk-text-small tm-product-card-add-button-text">Ajouter au panier </span>
					</button>
				    </div>
				</div>
			    </div>
			</article>
			{% endfor %}
		    </div>
		</div>
	    </div>
	  </div>
      </div>
   </div>
   <!--PAGINATION-->
   <div class="uk-margin">
	{%if products.paginator.num_pages > 1%}
	  <ul class="uk-pagination uk-flex-center">
	   {% if products.has_previous %}
	     <li><a href="?page={{ products.previous_page_number }}"><span uk-pagination-previous></span><a></li>
	   {% endif %}
	   {% for page in products.paginator.page_range %}
	    {% if page == products.number %}
	     <li class=" uk-active"><a href="?page={{page}}">{{ page }}</a></li>
	    {% elif page > products.number|add:'-4' and page < products.number|add:'4' %}
	     <li><a href="?page={{ page }}">{{page}}</a></li>
	    {% endif %}
	   {% endfor %}
	   {% if products.has_next  %}
	     <li><a href="?page={{ products.next_page_number }}"><span uk-pagination-next></span></a></li>
	   {% endif %}
	  </ul>
	{% endif %}
   </div>

</div>
