{% load i18n wagtailcore_tags wagtailimages_tags %}

<div class="uk-width-expand">
	<div class="uk-grid-medium uk-child-width-1-1" uk-grid>
		<!--items-->
		<div>
			<div class="uk-card uk-card-default uk-card-small tm-ignore-container">
				<div class="uk-grid-collapse uk-child-width-1-1" id="products" uk-grid="uk-grid">
					<!---settings-->
					<div class="uk-card-header">
						<div class="uk-grid-small uk-flex-middle" uk-grid="uk-grid">
							<!--Sorting-->
							<div
								class="uk-width-1-1 uk-width-expand@s uk-flex uk-flex-center uk-flex-left@s uk-text-small">
								<button class="uk-button uk-button-default">
								  <span class="uk-margin-xsmall-right uk-icon uk-text-uppercase" 
									uk-icon="icon: settings; ratio: .75;"></span>
								  {% trans "Trier par" %}
								</button>
								<div uk-dropdown="mode: click">
									<ul class="uk-nav uk-dropdown-nav">
										<li> <a href="{% pageurl page %}?order=title_asc">
												{% trans "Titre, A à Z" %} 
											</a> </li>
											<li> <a href="{% pageurl page %}?order=title_desc">
												{% trans "Titre, Z à A" %}
											</a> </li>
											<li> <a href="{% pageurl page %}?order=price_asc">
												{% trans "Prix, croissant" %}
											</a> </li>
											<li> <a href="{% pageurl page %}?order=price_desc">
												{% trans "Prix, décroissant" %}
											</a> </li>
									</ul>
								</div>
							</div>
							<!-- Filters button & change view-->
							<div class="uk-width-1-1 uk-width-auto@s uk-flex uk-flex-center uk-flex-middle">
								<!--//- Filters button-->
								<!-- //- Change view-->
								<div class="tm-change-view uk-margin-small-left">
									<ul class="uk-subnav uk-iconnav js-change-view" uk-switcher="uk-switcher">
										<li><a class="uk-active" id="id" onclick='toggle(this)' data-view="grid"
												uk-icon="grid" uk-tooltip="Grid"></a></li>
										<li><a data-view="list" onclick="toggle(this)" uk-icon="list"
												uk-tooltip="List"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>


					<!--ITEMS-->

					<div class="uk-grid-margin uk-first-column">
						<div class="uk-grid-collapse uk-child-width-1-3 tm-products-grid js-products-grid"
							uk-grid="uk-grid">
							{% for product in products %}
							{% image product.pimages.0.product_image original as img %}
							<article class="tm-product-card" tabindex="0">

								<div class="tm-product-card-media uk-inline-clip uk-transition-tog">
									<div class="tm-ratio tm-ratio-4-3 flip uk-transition-flip">
										<a class="tm-media-box" href="{% url 'product_detail' product.slug %}">
											<figure class="tm-media-box-wrap">
												<img data-src="{{img.url}}"  alt="{{img.alt}}&quot;"
													uk-img>
											</figure>
										</a>
									</div>
									
									<a href="{% url 'product_detail' product.slug %}">
									<div class="uk-position-cover upper uk-overlay uk-overlay-default">
										<section class="feature">
											<div class="uk-position-top-center uk-margin-top ">
												<p class="uk-text-lead"> Caractéristique</p>
												<ul class="check-list">
													{% for feature in product.features%}
													{% include_block feature %}
													{% endfor %}
												</ul>
											</div>
										</section>
									</div>
									</a>
								</div>
								<div class="tm-product-card-body ">
									<div class="tm-product-card-info">
										<div class="uk-text-meta uk-margin-xsmall-bottom">
											<a class="uk-link-heading"
												href="{% pageurl product.product_range.category %}">
												{{ product.product_range.category.title }}
											</a>
										</div>
										<h3 class="tm-product-card-title">
											<a class="uk-link-heading" href="{% url 'product_detail' product.slug %}">
												{{ product.title }}
											</a>
										</h3>
									</div>
									<div class="tm-product-card-shop">
										<div class="tm-product-card-prices">
											{% if product.has_discount %}
											<del class="uk-text-meta">{{ product.base_price}}DH</del>
											{% endif %}
											<div class="tm-product-card-price">{{ product.price}}</div>
										</div>
										<div class="tm-product-card-add">
											<button data-id="{{ product.pk }}"
												class="uk-button badge add_to_cart uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart">
												<span class="badge tm-product-card-add-button-icon uk-icon" uk-icon="cart"></span>
												<span
													class=" badge tm-product-card-add-button-text">{% trans 'Ajouter au panier' %}
												</span>
											</button>
										</div>
									</div>
								</div>


							</article>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--PAGINATION-->
	<div class="uk-margin">
		{%if products.paginator.num_pages > 1%}
		<ul class="uk-pagination uk-flex-center">
			{% if products.has_previous %}
			<li><a href="?page={{ products.previous_page_number }}"><span uk-pagination-previous></span><a></li>
			{% endif %}
			{% for page in products.paginator.page_range %}
			{% if page == products.number %}
			<li class=" uk-active"><a href="?page={{page}}">{{ page }}</a></li>
			{% elif page > products.number|add:'-4' and page < products.number|add:'4' %}
			<li><a href="?page={{ page }}">{{page}}</a></li>
			{% endif %}
			{% endfor %}
			{% if products.has_next  %}
			<li><a href="?page={{ products.next_page_number }}"><span uk-pagination-next></span></a></li>
			{% endif %}
		</ul>
		{% endif %}
	</div>

</div>
