{% extends "base.html" %}
{% load static wagtailcore_tags i18n %}

{% block title %}Promotions{% endblock %}

{% block content %}
	<div class="uk-container uk-margin">
		<h1 class="uk-text-center"> {% trans "Promotions" %} </h1>
		<div class="uk-grid-small uk-child-width-1-3" uk-grid>
			{% for p in products %}
				{% include "partials/product_card.html" with product=p %}
			{% endfor %}
		</div>
	
	<!--PAGINATION-->
	{% include "partials/pagination.html" with products=products %}
	</div>	
{% endblock %}
